html,
body {
  padding: 0;
  margin: 0;
}

hr {
  color: #eaeaea;
}

/* 
a {
  color: inherit;
  text-decoration: none;
} */

.auth-box {
  margin: -50px;
}

* {
  box-sizing: border-box;
}

.colorchanging {
  animation: colorchange 30s infinite alternate;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.status {
  background-color: aliceblue;
}



/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: black;
  }
} */

